

<div class="container"> <!-- Agregamos un contenedor para centrar y ajustar el ancho de la tarjeta -->
  <div class="card col-lg-6 mx-auto"> <!-- Utilizamos "col-lg-6" para ajustar el ancho de la tarjeta -->
      <div class="card-header">
          <h4 class="card-title">Iniciar sesión:</h4>
      </div>
  <div class="card-body">
      <p class="card-text">
          {{ error }}
      </p>

      <form action="{% url 'signin' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-danger">Iniciar sesión</button>
      </form>
      <p></p>
      <p></p>
      <div class="card-footer  text-center">
        <p></p>
        <p>¿Aún no tienes una cuenta? Regístrate aquí.</p>
        <a href="{% url 'signup' %}"><button class="btn btn-outline-danger">Regístrate</button></a>
      </div>
  </div>
</div>

